In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [2]:
budget = pd.read_csv('budgets.csv')
budget.head(10)

,year,city_name,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,igr_state_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,22002001.0,174500,4.044885,5342.24,4956.92,2148.77,279.32,1869.46,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,22002001.0,177000,3.759509,5948.99,5490.05,2468.11,403.24,2064.86,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,22002001.0,179600,3.376308,6158.68,5746.64,2573.34,496.97,2076.37,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,22002001.0,178800,2.974757,5654.93,5210.77,2313.62,371.46,1942.16,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,22002001.0,174431,2.696590,6192.83,5736.81,2771.43,338.76,2432.67,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0
5,1982,AK: Anchorage,22002001.0,180969,2.540104,6560.51,6046.89,3169.22,255.78,2913.44,...,904.52,1835.36,1961.75,NaN,NaN,NaN,4.0,35260.0,NaN,1.0
6,1983,AK: Anchorage,22002001.0,195216,2.461044,7382.29,6816.43,3840.59,257.52,3583.07,...,865.35,1142.88,2656.94,NaN,NaN,NaN,4.0,37397.0,NaN,1.0
7,1984,AK: Anchorage,22002001.0,211028,2.359191,7245.14,6668.08,3391.51,276.46,3115.05,...,307.55,998.72,4081.36,NaN,NaN,NaN,4.0,39736.0,NaN,1.0
8,1985,AK: Anchorage,22002001.0,220254,2.278067,8169.09,7471.86,4009.81,210.64,3799.17,...,832.07,377.82,3558.56,NaN,NaN,NaN,4.0,40752.0,NaN,1.0
9,1986,AK: Anchorage,22002001.0,226848,2.236496,7279.60,6330.66,2895.35,149.67,2745.68,...,925.74,1903.24,1942.21,NaN,NaN,NaN,4.0,41229.0,NaN,1.0

In [3]:
new_budget = budget[['year','city_name','city_population','cpi','rev_total_city']]
new_budget = new_budget[(new_budget['year'] > 1999)]
new_budget['state'], new_budget['city'] = new_budget['city_name'].str.split(':').str

In [4]:
new_budget.to_csv('C:/Users/Minghan.Tang/Desktop/new_budget.csv')

In [5]:
dod = pd.read_csv('dod_equipment_purchases.csv')
dod.head(10)

,State,Station Name (LEA),NSN,Item Name,Quantity,UI,Acquisition Value,DEMIL Code,DEMIL IC,Ship Date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,2/12/2018 0:00,Alabama
1,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
2,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
3,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
4,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
5,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
6,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
7,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
8,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-726-5655,"PISTOL,CALIBER .45,AUTOMATIC",1,Each,58.71,D,1.0,5/16/2012 0:00,Indiana
9,IN,DAVIESS COUNTY SHERIFF DEPT,1005-00-589-1271,"RIFLE,7.62 MILLIMETER",1,Each,138.00,D,1.0,8/23/2005 0:00,Indiana

In [6]:
new_dod = dod[['State','Station Name (LEA)','Item Name','Quantity','Acquisition Value',"Ship Date"]]

In [7]:
new_dod[['Ship Date']] = new_dod[['Ship Date']].applymap(lambda x:x.split(" ")[0][-4:])

In [8]:
new_dod.tail()

,State,Station Name (LEA),Item Name,Quantity,Acquisition Value,Ship Date
8415,PR,VIEQUES POLICE DEPT,"TRUCK,UTILITY",1,43376.0,2011
8416,PR,VIEQUES POLICE DEPT,"TRUCK,UTILITY",1,50458.0,2011
8417,PR,VIEQUES POLICE DEPT,"TRUCK,UTILITY",1,41061.0,2012
8418,PR,VIEQUES POLICE DEPT,"TRUCK,UTILITY",1,50458.0,2011
8419,PR,VIEQUES POLICE DEPT,"TRUCK,UTILITY",1,41061.0,2012

In [184]:
new_dod.to_csv("C:/Users/Minghan.Tang/Desktop/new_dod1.csv")

In [14]:
police_death = pd.read_csv("police_deaths_538.csv")
police_death.head(10)

,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire,Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire,Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire,Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire,Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire,Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC
5,High Sheriff John Caldwell Cook,"Mecklenburg County Sheriff's Office, NC","EOW: Tuesday, October 16, 1804",Cause of Death: Gunfire,Gunfire,1804-10-16,1804,False,Mecklenburg County Sheriff's Office,NC
6,Watchman Christian Luswanger,"New York City Watch, NY","EOW: Thursday, December 25, 1806",Cause of Death: Stabbed,Stabbed,1806-12-25,1806,False,New York City Watch,NY
7,Deputy Sheriff John A. Gooch,"Livingston County Sheriff's Department, KY","EOW: Saturday, March 7, 1807",Cause of Death: Gunfire,Gunfire,1807-03-07,1807,False,Livingston County Sheriff's Department,KY
8,Deputy Sheriff Ebenezer Parker,"Cumberland County Sheriff's Office, ME","EOW: Monday, January 18, 1808",Cause of Death: Assault,Assault,1808-01-18,1808,False,Cumberland County Sheriff's Office,ME
9,Night Watchman George Workner,"Baltimore City Police Department, MD","EOW: Tuesday, March 15, 1808",Cause of Death: Stabbed,Stabbed,1808-03-15,1808,False,Baltimore City Police Department,MD

In [16]:
new_pdeath = police_death[['person','dept','cause_short','year','state']]
new_pdeath = new_pdeath[(new_pdeath['year'] > 1999)]
new_pdeath.head(10)

,person,dept,cause_short,year,state
19943,Deputy Sheriff Ernest Martin Hull,"Greene County Sheriff's Office, NC",Automobile accident,2000,NC
19944,Patrol Officer James Clinton Bryant,"Broxton Police Department, GA",Gunfire,2000,GA
19945,"Staff Sergeant Clyde Almond ""Tub"" Merritt","Coffee County Sheriff's Office, GA",Gunfire,2000,GA
19946,Inspector Kirk B. Brookbush,"San Francisco Police Department, CA",Aircraft accident,2000,CA
19947,Police Officer James Francis Dougherty,"San Francisco Police Department, CA",Aircraft accident,2000,CA
19948,Patrolman Francis Duon Hemilright,"Southern Shores Police Department, NC",Heart attack,2000,NC
19949,Trooper Matthew R. Bond,"Pennsylvania State Police, PA",Automobile accident,2000,PA
19950,Trooper Jason Eric Beal,"Indiana State Police, IN",Struck by vehicle,2000,IN
19951,Deputy Eric Scott Salter,"Jefferson County Sheriff's Office, GA",Automobile accident,2000,GA
19952,Sheriff Oren Eugene Smith,"Edwards County Sheriff's Department, IL",Exposure to toxins,2000,IL

In [17]:
new_pdeath.to_csv("C:/Users/Minghan.Tang/Desktop/new_pdeath.csv")

In [18]:
poverty = pd.read_csv('poverty_census_bureau.csv')
poverty.head(10)

,id,Geographic Area Name,Estimate!!Total!!Population for whom poverty status is determined,Margin of Error!!Total MOE!!Population for whom poverty status is determined,Estimate!!Below poverty level!!Population for whom poverty status is determined,Margin of Error!!Below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Percent below poverty level!!Population for whom poverty status is determined,Margin of Error!!Percent below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Total!!Population for whom poverty status is determined!!AGE!!Under 18 years,Margin of Error!!Total MOE!!Population for whom poverty status is determined!!AGE!!Under 18 years,...,"Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months",Estimate!!Total!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Total MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work
0,310M400US10100,"Aberdeen, SD Micro Area",41450.0,202.0,4743.0,724.0,11.4,1.7,10126.0,78.0,...,1104.0,296.0,45.1,9.0,2557.0,314.0,854.0,264.0,33.4,8.6
1,310M400US10140,"Aberdeen, WA Micro Area",68852.0,420.0,10980.0,1026.0,15.9,1.5,14622.0,159.0,...,1176.0,214.0,39.1,6.3,7664.0,648.0,3407.0,438.0,44.5,3.7
2,310M400US10180,"Abilene, TX Metro Area",156492.0,773.0,24001.0,1639.0,15.3,1.0,39611.0,281.0,...,3591.0,425.0,55.3,4.4,10972.0,987.0,5328.0,874.0,48.6,4.6
3,310M400US10220,"Ada, OK Micro Area",36923.0,307.0,5685.0,532.0,15.4,1.5,8985.0,81.0,...,778.0,154.0,50.7,6.7,2882.0,253.0,1521.0,185.0,52.8,4.5
4,310M400US10260,"Adjuntas, PR Micro Area",18125.0,41.0,11325.0,843.0,62.5,4.6,3882.0,25.0,...,176.0,72.0,77.9,14.3,1719.0,261.0,1428.0,246.0,83.1,5.5
5,310M400US10300,"Adrian, MI Micro Area",93387.0,387.0,11411.0,805.0,12.2,0.9,20595.0,156.0,...,1686.0,237.0,43.2,4.8,7198.0,463.0,2524.0,298.0,35.1,3.4
6,310M400US10380,"Aguadilla-Isabela, PR Metro Area",304964.0,492.0,159107.0,3291.0,52.2,1.1,61191.0,205.0,...,4278.0,474.0,76.2,3.8,29827.0,1119.0,22872.0,894.0,76.7,1.7
7,310M400US10420,"Akron, OH Metro Area",687835.0,821.0,89922.0,3271.0,13.1,0.5,144115.0,406.0,...,15054.0,922.0,44.0,1.8,53758.0,1588.0,20743.0,1159.0,38.6,1.4
8,310M400US10460,"Alamogordo, NM Micro Area",62297.0,397.0,13232.0,1321.0,21.2,2.1,15348.0,72.0,...,778.0,204.0,37.2,8.1,4676.0,445.0,2199.0,397.0,47.0,6.5
9,310M400US10500,"Albany, GA Metro Area",147567.0,792.0,37204.0,2183.0,25.2,1.5,36549.0,334.0,...,2500.0,383.0,47.3,5.5,11564.0,678.0,7022.0,565.0,60.7,3.2

In [42]:
new_poverty = poverty[['Geographic Area Name','Estimate!!Total!!Population for whom poverty status is determined']]
new_poverty['city'], new_poverty['state'] = new_poverty['Geographic Area Name'].str.split(',').str
new_poverty.head(10)

<ipython-input-42-05f6fb18b985>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  new_poverty['city'], new_poverty['state'] = new_poverty['Geographic Area Name'].str.split(',').str
<ipython-input-42-05f6fb18b985>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_poverty['city'], new_poverty['state'] = new_poverty['Geographic Area Name'].str.split(',').str

,Geographic Area Name,Estimate!!Total!!Population for whom poverty status is determined,city,state
0,"Aberdeen, SD Micro Area",41450.0,Aberdeen,SD Micro Area
1,"Aberdeen, WA Micro Area",68852.0,Aberdeen,WA Micro Area
2,"Abilene, TX Metro Area",156492.0,Abilene,TX Metro Area
3,"Ada, OK Micro Area",36923.0,Ada,OK Micro Area
4,"Adjuntas, PR Micro Area",18125.0,Adjuntas,PR Micro Area
5,"Adrian, MI Micro Area",93387.0,Adrian,MI Micro Area
6,"Aguadilla-Isabela, PR Metro Area",304964.0,Aguadilla-Isabela,PR Metro Area
7,"Akron, OH Metro Area",687835.0,Akron,OH Metro Area
8,"Alamogordo, NM Micro Area",62297.0,Alamogordo,NM Micro Area
9,"Albany, GA Metro Area",147567.0,Albany,GA Metro Area

In [45]:
new_poverty1 = pd.read_csv('new_poverty1.csv')
new_poverty1['city'], new_poverty1['state'] = new_poverty1['Geographic Area Name'].str.split(',').str
new_poverty1.head(10)

<ipython-input-45-d16b08f5bb44>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  new_poverty1['city'], new_poverty1['state'] = new_poverty1['Geographic Area Name'].str.split(',').str

,Unnamed: 0,Geographic Area Name,Estimate!!Total!!Population for whom poverty status is determined,city,state
0,0,"Aberdeen, SD",41450.0,Aberdeen,SD
1,1,"Aberdeen, WA",68852.0,Aberdeen,WA
2,2,"Abilene, TX",156492.0,Abilene,TX
3,3,"Ada, OK",36923.0,Ada,OK
4,4,"Adjuntas, PR",18125.0,Adjuntas,PR
5,5,"Adrian, MI",93387.0,Adrian,MI
6,6,"Aguadilla-Isabela, PR",304964.0,Aguadilla-Isabela,PR
7,7,"Akron, OH",687835.0,Akron,OH
8,8,"Alamogordo, NM",62297.0,Alamogordo,NM
9,9,"Albany, GA",147567.0,Albany,GA

In [20]:
new_poverty.to_csv('C:/Users/Minghan.Tang/Desktop/new_poverty.csv')

In [186]:
new_dod1= pd.read_csv('new_dod1.csv')
merge1=new_dod1.merge(new_pdeath,on = 'state',how = 'outer')
merge1.to_csv('C:/Users/Minghan.Tang/Desktop/merge1.csv')

In [187]:
merge2=merge1.merge(new_budget, on = 'state', how='outer')
merge2.to_csv('C:/Users/Minghan.Tang/Desktop/merge2.csv')

In [188]:
merge3=merge2.merge(new_poverty1, on = 'state', how='outer')
merge3.to_csv('C:/Users/Minghan.Tang/Desktop/merge3.csv')

In [191]:
police_policies = pd.read_csv('police_policies.csv')
merge3 = pd.read_csv('merge3.csv')
merge4=merge3.merge(police_policies, on = 'City', how='outer')
merge4.to_csv('C:/Users/Minghan.Tang/Desktop/merge5.csv')